* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/**/
/* width */
::-webkit-scrollbar {
  width: 10px;
  background: #000;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #212121; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #db2c38; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #DC1A28; 
}
/**/
:root {
  --primary: #DC1A28;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

#root{
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}